# Git
.git
.gitignore
.gitmodules

# Python
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dev/Test
tests/
docs/
*.md
Makefile

# Node
node_modules/
